<div id="bg-image" class="front-page">

    <h1 id="title-lg">Cinema Ironhack</h1>

    <div class="button-div">
        <a class="button" href="/movies">Check the Movies!</a>  
    </div>
    
</div>
