<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>


     <div id="movies-page-div">
        <% movies.forEach(element => { %>
        <img src="<%= element.image %>" alt="movie image" width="200px"/>
        <br />
        <h2 style="font-size: 16px;"> <%= element.title %> </h2>
        <a class="info-link-btn" href="/movies/<%= element._id %>">See more</a> 
        <br />
        <% }) %>
      </div>

